In [1]:
import pandas as pd

In [3]:
#Task_1

df = pd.read_csv("/Users/johannamix/Downloads/5_input.csv")
dfy = df.groupby(df["Salary"]).mean()
highest_three = dfy[-3:]
print(highest_three)

        Duration of employment in years
Salary
15100                               1.0
16400                               4.0
18000                               6.0

In [4]:
#Task_2

import csv

df = pd.read_csv("/Users/johannamix/Downloads/5_input.csv")
csv_file = 'df'  
column_name = 'Salary'  

def column_to_dict(csv_file, column_name):
    result_dict = {}
    with open(csv_file, 'r') as file:
        reader = csv.DictReader(file)
        for row in reader:
            result_dict[row[column_name]] = row  

    return result_dict

csv_file = '/Users/johannamix/Downloads/5_input.csv' 
column_name = 'Salary' 

column_dict = column_to_dict(csv_file, column_name)
print(column_dict)

def salaries_above_mean(column_dict):
    total_salary = sum(column_dict.values())
    mean_salary = total_salary / len(column_dict)
    
    above_mean_salaries = [name for name, salary in column_dict.items() if salary > mean_salary]
    return above_mean_salaries
    
print("Salaries greater than mean salary:", above_mean_salaries)

{'10000': {'Name': 'Adam', 'Salary': '10000', 'Duration of employment in years': '4'}, '12000': {'Name': 'Beata', 'Salary': '12000', 'Duration of employment in years': '5'}, '7000': {'Name': 'Jarek', 'Salary': '7000', 'Duration of employment in years': '5'}, '8500': {'Name': 'Agnieszka', 'Salary': '8500', 'Duration of employment in years': '4'}, '11200': {'Name': 'Marek', 'Salary': '11200', 'Duration of employment in years': '4'}, '9300': {'Name': 'Ania', 'Salary': '9300', 'Duration of employment in years': '6'}, '15100': {'Name': 'Piotr', 'Salary': '15100', 'Duration of employment in years': '1'}, '18000': {'Name': 'Mateusz', 'Salary': '18000', 'Duration of employment in years': '6'}, '16400': {'Name': 'Agata', 'Salary': '16400', 'Duration of employment in years': '4'}, '11000': {'Name': 'Marian', 'Salary': '11000', 'Duration of employment in years': '10'}}

NameError: name 'above_mean_salaries' is not defined